.projectsWrapper {
  height: 100vh;
  background-color: mediumslateblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectsContent {
  height: 80vh;
  width: 80%;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.projectsTitle {
  background-color: grey;
  font-size: 16px;
}

.projects {
  height: 60vh;
  width: 100%;
  border: 2px solid;
  display: flex;
  justify-content: space-between;
}
