.header {
  height: 50px;
  background-color: #61dafb;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 80%;
  border: 1px solid;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav {
  border: 1px solid;
  width: 360px;
  display: flex;
  justify-content: space-between;
}
