.footerWrapper {
  height: 30vh;
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContent {
  border: 2px solid;
  height: 25vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footerTitle {
  font-size: 16px;
  background-color: grey;
}

.footerItems {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border: 2px solid;
}
.footerItem {
  height: 50px;
  width: 100px;
  background-color: grey;
}

.footerCopyright {
  font-size: 16px;
  background-color: grey;
}